.spell-cell {
  // color: greenyellow;
  background-color: rgb(29, 29, 29);
  color: goldenrod;
  border: 1px solid steelblue;
  border-radius: 3px;
  height: 30px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  padding: 2px;
  margin: 2px 3px;
  
  &.color-style-2 {
    border: 1px solid rgb(70, 180, 88);
  }

  &:hover {
    cursor: pointer;
    border: 1px solid yellow;
  }
}