.spell-cell {
  // color: greenyellow;
  background-color: rgb(29, 29, 29);
  color: goldenrod;
  border: 1px solid steelblue;
  border-radius: 3px;
  height: 30px;
  padding: 3px;
  display: flex;
  // flex: 0 0 106px;
  flex: 0 0 auto;
  overflow: hidden;
  margin: 1px 1px;
  
  &.color-style-2 {
    border: 1px solid rgb(70, 180, 88);
  }

  &:hover {
    border: 1px solid yellow;
  }
}