.info-box {
  position: relative;
  display: flex;
  color: firebrick;
  background-color: rgba(0, 0, 0, 0.1);
  max-height: 60vh;
  width: 90%;
  overflow-y: auto;
  overflow-x: hidden;

  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  
  & > div {
    word-wrap: break-word;
    margin: 4px 5px;
    display: flex;
    min-width: 150px;
    flex-direction: column;
    
    & > span {
      font-weight: bold;
    }

    & > div {
      display: flex;
      align-self: center;
    }
  }
}

