.info-box {
  position: relative;
  text-align: left;
  display: block;
  color: firebrick;
  // min-height: 300px;
  max-height: 60vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  & div {
    word-wrap: break-word;
  }
}