// $dropdown-color: rgb(160, 10, 10);
$dropdown-color: goldenrod;
$dropdown-bg-color: #1d2124;
$divider-color: rgba(255, 255, 255, 0.1);
$color-style-1: steelblue;
$color-style-2: rgb(70, 180, 88);

.App {
  position: relative;
  margin: auto;
  background-color: #282c34;
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 0 3px;
}

.toggle-fs {
  position: absolute;
  right: 15px;
  top: 15px;
  background-image: url('./img/fs-icon.svg');
  width: 3vh;
  height: 3vh;
  max-width: 25px;
  max-height: 25px;

  &:hover {
    cursor: pointer;
    transform: scale(1.4);
    transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }
}

.menu-item {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  padding: 0 3px;
  margin: 3px 0 12px 0;
}

.title {
  margin: 6px;
  color: firebrick;
}

.dropdown {
  width: 30%;
  flex: 1 1 auto;
  min-width: 140px;
  margin: 0 5px;
}

.dropdown-toggle {
  width: 100%;
  // text-transform: uppercase;
}

.dropdown-menu {
  width: 100%;
  background-color: $dropdown-bg-color;
  padding: 0 0 0 0;
}

@media (max-width: 3000px) {
  .dropdown-menu{
    max-height:80vh;
    overflow-y:auto;
  }
}

.dropdown-item {
  color: $dropdown-color;
  background-color: $dropdown-bg-color;
  font-weight: bold;
}

.dropdown-divider {
  border-top: 1px solid $divider-color;
  margin: 0;
}

.color-style-1 {
  color: $color-style-1;
}

.color-style-2 {
  color: $color-style-2;
}