.spell-slots-item {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: rgba(100, 0, 0, 0.4);
  width: 60px;
  height: 60px;
  margin: 1px;
  color: rgb(144, 211, 105);
  text-align: left;
  border-radius: 4px;

  .slot-title {
    display: flex;
    flex: 1 1 20px;
    font-size: 0.75em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
  }
  
  .content {
    display: flex;
    flex: 2 2 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}